/* Importing URLs */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --PrimaryBg: #1c1c1d;
    --navBg: #252728;
    --textColor:#ffffffc6;
    --primaryHoverBg:#434344ad;
}

*{
    box-sizing: border-box;
    font-family: "Inter", serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--PrimaryBg);
}
/* Navbar Starts Here */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--navBg);
    height: 3.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 0 1rem;
    position: sticky;
    top: 0;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 19rem;
}
.search>img{
    width: 2.5rem;
}
.searchInput{
    border: none;
    border-radius: 2rem;
    width: 16rem;
    height: 2.5rem;
    background-color: #333334;
    font-size: 1rem;
    font-family: "Inter", serif;
    padding-left: 1.5rem;

}
.primaryNavigation{
    display: flex;
    justify-content: space-between;
    width: 45rem;
}
.primaryNavigationIcon{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: .7rem;
    cursor: pointer;
    transition: .5s all;
}
.primaryNavigationIcon >img{
    width: 25px;
}
.activeNav{
    border-bottom: .3rem solid #0866ff;
    border-radius: 0;
}
.primaryNavigationIcon:hover{
    background-color: #434344;
}
.userTools{
    display: flex;
    justify-content: space-around;
    width: 13rem;
}
.userToolsIcons{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333334;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s all;
}
.userToolsIcons:hover{
    background-color: #424242;
}
.userToolsIcons >img{
    width: 20px;
}
.dropDown{
    position: relative;
}
.dropDown > img{
    width: 100%;
    border-radius: 50%;
}
.dropdownIcon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 60%;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdownIcon > img{
    width: 15px;
}
/* Sidebar Starts Here */
.sidebar{
    width: 23rem;
    padding: 1rem .6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.navigationContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.sideNavItems{
    display: flex;
    align-items: center;
    gap: .7rem;
    height: 3.2rem;
    border-radius: .7rem;
    padding-left: .5rem;
    cursor: pointer;
    transition: .5s all;
}
.sideNavItems:hover{
    background-color: var(--primaryHoverBg);
}
.sideNavIcon{
    width: 36px;
    height: 36px;
}
.sideNavTxt{
    color: var(--textColor);
    font-size: .9rem;
    font-weight: bold;
}
.friendsFill{
    background-image: url("../assets/sidebarIcons/icons.png");
    background-position: 0px -333px;
    background-repeat: no-repeat;
}
.pd{
    background-image: url("../assets/sidebarIcons/professionalDashboard.png");
}
.feeds{
    background-image: url("../assets/sidebarIcons/feeds.png");
}
.groups{
    background-image: url("../assets/sidebarIcons/icons.png");
    background-position: 0px -37px;
    background-repeat: no-repeat;
}
.marketplaceFill{
    background-image: url("../assets/sidebarIcons/icons.png");
    background-position: 0px -444px;
}
.sidebarSeeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navBg);
    border-radius: 50%;
}
.sidebarSeeMore >img{
    width: 1.5rem;
}
hr{
    width: 95%;
    height: 1px;
    border: none;
    background-color: white;
    margin: 0 auto;
    opacity: .4;
}
.sidebarSubHeading{
    color: var(--textColor);
    font-size: 1rem;
    opacity: .7;
    padding: 1rem;
}
.myGroups{
    border-radius: .5rem;
}
.footer{
    padding: 1rem;
    color: var(--textColor);
}